#add_subject_block{
    position: fixed;
    top: calc(50% - 300px);
    left: calc(50% - 300px);
    width: 600px;
    height: 600px;
    background-color: #F7EDF0;  
    z-index: 999;
    text-align: center;
    display: none;
}

.add_subject_name_field{
    border: 1px solid black;
    width: 560px;
    padding: 5px;  
}

.add_subject_form{
    margin: 20px;
    max-height: 230px;
}

