.who_container {
  background: #8fb488;
  height: 60px;
  border-top: 2px solid #8fb488;
  border-bottom: 1px solid #5d6577;
}

.who {
  min-width: 1000px;
  max-width: 1280px;
  height: 58px;
  margin: 0 auto;
  padding-left: 10px;
  line-height: 58px;
  color: #353535;
}

.who > a > i {
  color: #fff;
  border-bottom: 1px dashed #fff;
}
.who > a > i:hover {
  color: #e6e6e6;
  border-bottom: 1px dashed #e6e6e6;
}

.auth_form {
  float: right;
  position: relative;
  width: 315px;
  height: 58px;
  text-align: center;
}

.auth_field_block {
  display: inline-block;
  vertical-align: top;
  line-height: 0px;
  width: 150px;
  height: 58px;
  text-align: center;
  margin-right: 3px;
}

.auth_field {
  width: 150px;
  padding: 5px;
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 3px;
  border: 1px solid #353535;
  height: 23px;
  background-color: #5d6577;
  color: white;
  /* Firefox 19+ */
  /* Firefox 18- */
}
.auth_field:focus {
  box-shadow: 0 0 3px 3px #D9D9D9;
}
.auth_field::-webkit-input-placeholder {
  color: #a0aebe;
}
.auth_field::-moz-placeholder {
  color: #a0aebe;
}
.auth_field:-moz-placeholder {
  color: #a0aebe;
}
.auth_field:-ms-input-placeholder {
  color: #a0aebe;
}
.auth_field::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.auth_field::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.auth_field:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.auth_field:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.auth_field:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.auth_field:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.auth_field:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.auth_field:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.auth_checkbox {
  display: inline-block;
  line-height: 20px;
  height: 20px;
  width: 150px;
  margin-top: 3px;
}

.auth_button {
  display: inline-block;
  line-height: 30px;
  width: 150px;
  height: 30px;
  border: 1px solid #a6a6a6;
  margin-top: 2px;
  color: #fff;
}

.auth_info {
  float: right;
  width: 400px;
  height: 58px;
  line-height: 58px;
  position: relative;
}

.auth_lk {
  display: inline-block;
  vertical-align: top;
  width: 150px;
  height: 30px;
  background: #353535;
  color: white;
  border: 1px solid #D9D9D9;
}
.auth_lk:hover {
  cursor: pointer;
}

.exit_button {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  background-color: #5d6577;
  position: absolute;
  right: 20px;
  top: 13px;
}
.exit_button:hover {
  background-color: #747e93;
}

/*# sourceMappingURL=auth_block.css.map */
