@import "var";
$height_who: 60px;



.who_container{
    background: #8fb488;
    height: $height_who;  
    border-top: 2px solid #8fb488;
    border-bottom: 1px solid #5d6577;
}

.who{
    min-width: $min_content_size;
    max-width: $max_content_size;
    height: $height_who - 2;
    margin: 0 auto;
    padding-left: 10px;
    line-height: $height_who - 2;
    color: #353535;
    
}

.who>a>i{
    color: #fff;
    border-bottom: 1px dashed #fff;
    
    &:hover{
        color: darken(#fff, 10);
        border-bottom: 1px dashed darken(#fff, 10);
    }
    
}

.auth_form{
    float: right;
    position: relative;
    width: 315px;
    height: $height_who - 2;
    text-align: center;
}

.auth_field_block{
    display: inline-block;
    vertical-align: top;
    line-height: 0px;
    width: 150px;
    height: $height_who - 2;
    text-align: center;
    margin-right: 3px;
}

.auth_field{
    width: 150px;
    padding: 5px;  
    font-size: 12px; 
    margin-top: 3px;
    margin-bottom: 3px;
    border: 1px solid #353535;
    height: 23px;
    background-color: #5d6577;
    color: white;
    &:focus{
        box-shadow: 0 0 3px 3px #D9D9D9;   
    }
    
    &::-webkit-input-placeholder {color:#a0aebe;}
    &::-moz-placeholder          {color:#a0aebe;}/* Firefox 19+ */
    &:-moz-placeholder           {color:#a0aebe;}/* Firefox 18- */
    &:-ms-input-placeholder      {color:#a0aebe;}

    &::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
    &::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
    &:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
    &:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
    &:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
    &:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
    &:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
    &:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
}

.auth_checkbox{
    display: inline-block;
    line-height: 20px;
    height: 20px;
    width: 150px;
    margin-top: 3px; 
}


.auth_button{
    display: inline-block;
    line-height: 30px;
    width: 150px;
    height: 30px;
    border: 1px solid darken(#D9D9D9, 20);
    margin-top: 2px;
    color: #fff;
}


.auth_info{
    float: right;
    width: 400px;
    height: $height_who - 2;
    line-height: $height_who - 2;
    position: relative;
}

.auth_lk{
    display: inline-block;
    vertical-align: top;
    width: 150px;
    height: 30px;
    background: #353535;
    color: white;
    border: 1px solid #D9D9D9;
    
    &:hover{
        cursor: pointer;
    }
}


.exit_button{
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    background-color: #5d6577;
    position: absolute;
    right: 20px;
    top: 13px;
    
    &:hover{
        background-color: lighten(#5d6577,10);
    }
}

