a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  color: #353535;
}

.wrapper {
  width: 100%;
  min-width: 1000px;
  margin: 0 auto;
  background: url("images/fon_1.png"), url("images/fon_2.png"), url("images/fon_3.png");
}

.content {
  position: relative;
  min-height: calc(100vh - 140px);
  min-width: 1000px;
  max-width: 1280px;
  margin: 10px auto 20px auto;
  background-color: #F1F1F1;
  border: 1px solid #5d6577;
  box-shadow: 0 0 10px black;
  padding-bottom: 20px;
}

/*# sourceMappingURL=base.css.map */
