.button{
    width: 150px;
    height: 40px;
    color: white;
    background-color: #5d6577;
    line-height: 40px;
    text-align: center;
    transition-property: background-color;
    transition-duration: 0.5s;
    font-family: 'Roboto Condensed', sans-serif;
    
    
    &:hover{
       cursor: pointer; 
       background-color: lighten(#5d6577, 10);
       transition-property: background-color;
       transition-duration: 0.5s;
    }
    
}

#button_close{
    position: absolute;
    right: 3px;
    top: 3px;
    width: 20px;
    height: 20px;
    background-image: url('images/close.png');
    
    
    &:hover{
      cursor: pointer;  
        
    } 
}

#button_close1{
    position: absolute;
    right: 3px;
    top: 3px;
    width: 20px;
    height: 20px;
    background-image: url('images/close.png');
    
    
    &:hover{
      cursor: pointer;  
        
    } 
}

