.chief_page_menu{
    margin-left: 300px;
    height: 80px;
}

.chief_page_menu_button{
    display: inline-block;
    vertical-align: top;
    height: 80px;
    width: 50%;
    text-align: center;
    line-height: 80px;
    background: darken(#DEE5EB,1);
    margin-right: -4px;
    transition-property: background-color;
    transition-duration: 0.5s;
    color: darken(#8BA1BC,10);
    border-right: 1px solid #F1F1F1;
    position: relative;
    
    &:hover{
        cursor: pointer;
        
        background: lighten(#DEE5EB, 2);
        transition-property: background-color;
        transition-duration: 0.5s;        
    }
}

.chief_page_menu_button2:hover .chief_page_menu_hidden{
    display: block;  
}

.chief_page_menu_hidden{
    height: 50px;
    width: 100%;
    text-align: center;
    line-height: 50px;
    background: darken(#DEE5EB,1);
    transition-property: background-color;
    transition-duration: 0.5s;
    color: darken(#8BA1BC,10);
    border-right: 1px solid #F1F1F1;
    position: absolute;
    top: 80px;
    right: 0;
    z-index: 100;
    display: none;
    
    &:hover{
        cursor: pointer;
        
        background: lighten(#DEE5EB, 2);
        transition-property: background-color;
        transition-duration: 0.5s;        
    }
}

.chief_page_menu_hidden2{
    top: 130px; 
}


#chief_page_info{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    border: 1px solid #B2BDCA;
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
    
}

.journal_table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.journal_table td{
    border: 2px solid #B2BDCA;
    text-align: center;
}

.journal_table th{
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    border: 1px solid #B2BDCA;
    padding: 10px 2px;
}


.chief_page_form{
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    border: 1px solid #B2BDCA;
    text-align: left;
    width: 49%;
}

.chief_page_form h2{
    text-align: center;
    margin-bottom: 20px;
}

.chief_page_form_part{
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;    
}

.chief_page_form_button{
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    top: -11px;
    margin-right: 10px;
}

.chief_page_form_field{
    margin: 10px 0;  
    padding: 5px;
    width: 100%;
    box-shadow: 0 0 2px black;
}
