#create_relation_block {
  position: fixed;
  top: calc(50% - 325px);
  left: calc(50% - 300px);
  width: 600px;
  height: 650px;
  background-color: #F7EDF0;
  z-index: 999;
  text-align: center;
  display: none;
}

.delete_relation_form {
  margin: 20px;
  max-height: 230px;
}

.create_relation_form {
  margin: 20px;
  max-height: 230px;
}

.create_relation_now {
  padding: 5px;
  border: 1px solid black;
  width: 560px;
  max-height: 45px;
}

.create_relation_select {
  padding: 5px;
  border: 1px solid black;
  width: 560px;
  height: 300px;
}

/*# sourceMappingURL=create_relation.css.map */
