.delete_account_form{
    position: absolute;
    top: 50px;
    width: 94%;
    height: 100%;
    padding: 140px 0;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    border: 1px solid #B2BDCA;  
}

.delete_account_button{
    display: inline-block;
    margin-right: 20px;
    vertical-align: bottom;
}

.delete_account_form a{
    font-size: 14px;
}
