.dialog_area_block{
    height: 500px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    border: 1px solid #B2BDCA; 
    overflow: auto;
}

.dialog_info_empty{
    position: relative;
    top: 250px;
    
}

.dialog_my_messages_block{
    text-align: right;
    margin: 20px;
    min-height: 50px;
    position: relative;
}

.dialog_partner_messages_block{
    text-align: left;
    margin: 20px;
    min-height: 50px;
    position: relative;
}

.dialog_my_messages_photo{
    width: 50px;
    height: 50px;
    background-size: cover;
    position: absolute;
    right: 0;
    top: 0;
    
    &:hover{
        cursor: pointer;
    }
}

.dialog_partner_messages_photo{
    width: 50px;
    height: 50px;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    &:hover{
        cursor: pointer;
    }
}

.dialog_my_messages_text{
    margin-right: 50px;
    padding: 5px 10px;
    display: inline-block;
    vertical-align: top;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    border: 1px solid #B2BDCA; 
    border-radius: 5px 0 0 5px;
    background-color: #dbe2e9;
    word-wrap: break-word;
    max-width: 91%;
}

.dialog_partner_messages_text{
    margin-left: 50px;
    padding: 5px 10px;
    display: inline-block;
    vertical-align: top;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    border: 1px solid #B2BDCA; 
    border-radius: 0px 5px 5px 0px;
    background-color: #dbe2e9;
    word-wrap: break-word;
    max-width: 91%;
}

.dialog_messages_date{
    color: #8c8c8c;
    font-style: italic;
    font-size: 16px;
    
}


#dialog_hr{
    height: 1px;
    background: black;
}

.dialog_new_message_block{
    height: 150px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    border: 1px solid #B2BDCA; 
    position: relative;
}

.dialog_new_message_photo{
    width: 80px;
    height: 80px;
    background-size: cover;
    position: absolute;

        top: 10px;
    left: 30px;
    &:hover{
        cursor: pointer;
    }
}

.dialog_new_message_partner_photo{
    width: 80px;
    height: 80px;
    background-size: cover;
    position: absolute;
    top: 10px;
    right: 20px;
    
    &:hover{
        cursor: pointer;
    }
}

.dialog_new_message{
    margin-left: 110px;
    text-align: left;
    padding: 10px;
    margin-right: 130px;
}

.dialog_new_message_textarea{
    resize: none;
    width: 100%;
    word-wrap: break-word;
    min-height: 40px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    border: 1px solid #B2BDCA; 
    padding: 5px;
}

.dialog_new_message_button{
    text-align: left;
}