.edit_message_form {
  text-align: center;
  margin: 20px;
  width: calc(100% - 40px);
  height: 600px;
}

.edit_message_textarea {
  padding: 5px;
  border: 1px solid black;
  resize: none;
  width: 100%;
  height: 323px;
}

/*# sourceMappingURL=edit_message.css.map */
