@font-face {
  font-family: UbuntuLight;
  src: url(fonts/ubuntu-light.ttf);
}
@font-face {
  font-family: marta;
  src: url(fonts/marta.otf);
}
@font-face {
  font-family: brody;
  src: url(fonts/brody.ttf);
}
@font-face {
  font-family: knight;
  src: url(fonts/9312.ttf);
}

/*# sourceMappingURL=fonts.css.map */
