/*Style of footer*/
.footer {
  width: 100%;
  height: 260px;
  background: linear-gradient(0deg, #353535, #424242);
  margin-top: 20px;
  color: #acacac;
  text-align: center;
}

.footer_content {
  position: relative;
  height: 260px;
  min-width: 1000px;
  max-width: 1280px;
  margin: 10px auto 0;
}

.footer_about {
  display: inline-block;
  vertical-align: top;
  width: 400px;
  height: 120px;
  padding: 10px;
  margin-top: 30px;
}

.footer_content h4 {
  color: #f8f7f7;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 15px;
}

.footer_content p {
  line-height: 1.4;
}

.footer-info {
  display: inline-block;
  vertical-align: top;
  width: 150px;
  height: 100px;
  padding: 10px;
  margin-top: 30px;
}

.footer_content ul {
  list-style: none;
}

.footer_content li {
  margin-bottom: 5px;
}
.footer_content li:hover {
  cursor: pointer;
  color: #e67e22;
}

.footer_content a {
  text-decoration: none;
  color: #acacac;
}

.footer_end {
  height: 20px;
  margin-top: 60px;
  text-align: center;
}

/*# sourceMappingURL=footer.css.map */
