/*Style of footer*/
@import "var";
.footer{
    width: 100%;
    height: 260px;
    background: linear-gradient(0deg,#353535,lighten(#353535,5));
    margin-top: 20px;
    color: #acacac;
    text-align: center;
}

.footer_content{
    position: relative;
    height: 260px;
    min-width: $min_content_size;
    max-width: $max_content_size;
    margin: 10px auto 0;    
}

.footer_about{
    display: inline-block;
    vertical-align: top;
    width: 400px;
    height: 120px;
    padding: 10px;
    margin-top: 30px;
}

.footer_content h4{
    color: #f8f7f7;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 15px;
}

.footer_content p{
    line-height: 1.4;
    
}

.footer-info{
    display: inline-block;
    vertical-align: top;
    width: 150px;
    height: 100px;
    padding: 10px;
    margin-top: 30px;
}

.footer_content ul{
    list-style: none;
}

.footer_content li{
    margin-bottom: 5px;
    
    &:hover{
        cursor: pointer;
        color: #e67e22;
        
    }
}

.footer_content a{
    text-decoration: none;
    color: #acacac;
}

.footer_end{
    height: 20px;
    margin-top: 60px;
    text-align: center;
}

