/*Style of header*/
header {
  width: 100%;
  height: 50px;
  background: linear-gradient(0deg, #353535, #4f4f4f);
}

.header_1 {
  min-width: 1000px;
  max-width: 1280px;
  height: 50px;
  margin: 0 auto;
}

nav {
  float: left;
  vertical-align: top;
  height: 50px;
}

.list {
  height: 50px;
  list-style: none;
}

.menu-button {
  display: inline-block;
  vertical-align: top;
  padding-right: 25px;
  height: 50px;
  text-align: center;
  color: #8fb488;
  margin-right: -4px;
  line-height: 50px;
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(0deg, #353535, #4f4f4f);
  transition-property: background-color;
  transition-duration: 0.3s;
  position: relative;
  padding-left: 25px;
  padding-right: 25px;
}
.menu-button:hover {
  background: linear-gradient(0deg, #8fb488, #acc8a7);
  color: #353535;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 0.3s;
}

.menu-button-new-messages {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -2px;
  border-radius: 25px;
  width: 26px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  color: #fff;
  background-image: url(images/new_message.png);
  background-size: cover;
  font-weight: bold;
  margin-left: 7px;
}

.first-button {
  display: inline-block;
  vertical-align: top;
  padding-right: 25px;
  height: 50px;
  text-align: center;
  color: #8fb488;
  margin-right: -4px;
  line-height: 50px;
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(0deg, #353535, #4f4f4f);
  transition-property: background-color;
  transition-duration: 0.3s;
  position: relative;
}
.first-button:hover {
  background: linear-gradient(0deg, #8fb488, #acc8a7);
  color: #353535;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 0.3s;
}
.first-button:hover .icon_back {
  background-image: url(images/ic_back_black.png);
}

.icon_back {
  float: left;
  width: 30px;
  height: 30px;
  background-image: url(images/ic_back_green.png);
  background-position: center center;
  background-size: cover;
  margin-top: 10px;
  margin-left: 4px;
  margin-right: 10px;
}

.logo {
  float: right;
  vertical-align: top;
  width: 280px;
  height: 50px;
}

.logo_img {
  float: right;
  width: 175px;
  height: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.logo_img::selection {
  background: transparent;
}

.home_button {
  display: inline-block;
  vertical-align: top;
  line-height: 50px;
  width: 88px;
  height: 50px;
  color: #8fb488;
  text-decoration: underline;
}

.icon_home {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
  background-image: url(images/ic_home_white.png);
  background-position: center center;
  background-size: cover;
  margin-top: 10px;
  margin-right: 5px;
}

.home_button > i {
  font-size: 14px;
}
.home_button > i::selection {
  background: transparent;
}

/*# sourceMappingURL=header.css.map */
