/*Style of header*/
@import "var";

@mixin menu_buttons {
    display: inline-block;
    vertical-align: top;
    padding-right: 25px;
    height: $header_height;
    text-align: center; 
    color: #8fb488;
    margin-right: -4px;
    line-height: $header_height;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient(0deg,#353535,lighten(#353535, 10));
    transition-property: background-color;
    transition-duration: 0.3s;
    position: relative;
    
    &:hover{
        background: linear-gradient(0deg,#8fb488,lighten(#8fb488, 10));
        color: #353535;
        cursor: pointer;  
        
        transition-property: background-color;
        transition-duration: 0.3s;
    }
}

header{
    width: 100%;
    height: $header_height;
    background: linear-gradient(0deg,#353535,lighten(#353535, 10));  
}

.header_1{
    min-width: $min_content_size;
    max-width: $max_content_size;
    height: $header_height;
    margin: 0 auto;
}


nav{
    float: left;
    vertical-align: top;
    height: $header_height;
}

.list{ 
    height: $header_height;
    list-style: none;
}

.menu-button{
    @include menu_buttons; 
    padding-left: 25px;
    padding-right: 25px;
}

.menu-button-new-messages{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px;
    border-radius: 25px;
    width: 26px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: #fff;
    background-image: url(images/new_message.png);
    background-size: cover;
    font-weight: bold;
    margin-left: 7px;
}


.first-button{
    @include menu_buttons;
    
    
    &:hover{
        .icon_back{
            background-image: url(images/ic_back_black.png);
        }
        
    }
}

.icon_back{
    float: left;
    width: 30px;
    height: 30px;
    background-image: url(images/ic_back_green.png);
    background-position: center center;
    background-size: cover;
    margin-top: 10px;
    margin-left: 4px;
    margin-right: 10px;
}



.logo{
    float: right;
    vertical-align: top;
    width: 280px;
    height: $header_height;
}

.logo_img{
    float: right;
    width: 175px;
    height: $header_height;
    padding-top: 5px;
    padding-bottom: 5px;
    
    &::selection{
        background: transparent;   
    }
}
.home_button{
    display: inline-block;
    vertical-align: top;
    line-height: $header_height;
    width: 88px;
    height: $header_height;
    color: #8fb488;
    text-decoration: underline;
}

.icon_home{
    display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 30px;
    background-image: url(images/ic_home_white.png);
    background-position: center center;
    background-size: cover;
    margin-top: 10px;
    margin-right: 5px;
}

.home_button>i{
    font-size: 14px;
    

    &::selection{
        background: transparent; 
    }
}

