.infoblock {
  min-width: 400px;
  min-height: 100px;
  margin: 20px 20px;
  background: linear-gradient(0deg, #DA2C38, #e25761);
  color: #353535;
  text-align: center;
  padding: 50px 20px;
  border: 4px double #353535;
}
.infoblock::selection {
  background: transparent;
}
.infoblock:hover {
  cursor: default;
}

.infoblock_lk, .infoblock_showtopic {
  width: 400px;
  margin: 150px auto 0;
}

.infoblock_lk_page {
  width: 400px;
  margin: 150px 48% 0;
}

.infoblock_lk_edit {
  margin-left: 48%;
}

/*# sourceMappingURL=infoblock.css.map */
