.content {
  padding-top: 0;
  padding-bottom: 0;
}

.lk_top {
  height: 80px;
  background-color: #5d6577;
  position: relative;
  text-align: right;
}

.lk_top > .navigation {
  top: 20px;
  border: 1px solid black;
}

.lk_top_name {
  color: #FFFFFF;
  line-height: 80px;
  margin-right: 10px;
  font-size: 40px;
  font-style: italic;
}

.lk_menu_block {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  background-color: #5d6577;
  box-shadow: 0px 0px 5px black;
  z-index: 100;
}

.lk_menu_list {
  list-style: none;
}

.lk_menu_list_button {
  height: 40px;
  color: white;
  line-height: 40px;
  text-align: center;
  transition-property: background-color;
  transition-duration: 0.5s;
  font-family: 'Roboto Condensed', sans-serif;
  position: relative;
}
.lk_menu_list_button:hover {
  cursor: pointer;
  background-color: #474d5a;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.lk_menu_new_messages {
  position: absolute;
  right: 25px;
  top: 7.5px;
  border-radius: 20px;
  width: 26px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  color: #fff;
  background-image: url(images/new_message.png);
  background-size: cover;
  font-weight: bold;
}

.lk_menu_button_selected {
  height: 40px;
  color: black;
  background: linear-gradient(0deg, #F7EDF0, white);
  line-height: 40px;
  text-align: center;
  transition-property: background-color;
  transition-duration: 0.5s;
  font-family: 'Roboto Condensed', sans-serif;
  position: relative;
}
.lk_menu_button_selected:hover {
  cursor: pointer;
}

.lk_main {
  min-height: 400px;
  margin-left: 300px;
  padding: 30px;
  text-align: center;
  position: relative;
  word-wrap: break-word;
}

.online_block {
  text-align: right;
  color: #6b87a9;
  font-size: 16px;
  position: relative;
  background: #dbe2e9;
  top: -30px;
  left: -30px;
  height: 40px;
  padding: 10px;
  padding-right: 20px;
  width: calc(100% + 60px);
}

.lk_left_side_block {
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.lk_photo {
  display: inline-block;
  vertical-align: top;
  width: 152px;
  height: 172px;
  border: 1px solid black;
}

.lk_change_photo_button {
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
  width: 185px;
}

.lk_info {
  display: inline-block;
  vertical-align: top;
  margin-left: 30px;
  padding: 20px;
  min-width: 420px;
  max-width: 500px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #B2BDCA;
  word-wrap: break-word;
  text-align: left;
}

.lk_admin_panel_text {
  text-decoration: underline;
  font-size: 20px;
  font-weight: bold;
  cursor: default;
  margin-bottom: 10px;
}

.lk_buttons_block {
  margin-bottom: 20px;
  width: 320px;
}

.lk_default_buttons_block {
  margin: 10px 0 0 0;
  padding: 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #B2BDCA;
}

.lk_admin_buttons_block {
  background-color: #F1F1F1;
  border: 3px double black;
  padding: 5px;
  padding-top: 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #B2BDCA;
}

.lk_buttons {
  display: block;
  width: 98%;
  margin: 5px auto;
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
  margin-top: 5px;
}

/*# sourceMappingURL=lk.css.map */
