.lk_edit_form {
  padding: 20px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #B2BDCA;
  text-align: left;
}

.lk_edit_form > h3 {
  text-align: center;
}

.lk_edit_form_field {
  margin-top: 10px;
  padding: 5px;
  width: 500px;
  box-shadow: 0 0 2px black;
}

.lk_edit_delete_page_block {
  padding: 20px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #B2BDCA;
}

.lk_edit_delete_page_block a {
  color: #2B587A;
}
.lk_edit_delete_page_block a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=lk_edit.css.map */
