/*Style of message blocks*/
.MessageErrorBlock {
    border: 1px solid #A83B2D;
    background: #D44B38;
    padding: 10px;
    color: #fff;
    text-align : center;
}

.MessageHelpBlock {
    border: 1px solid #A83B2D; 
    background: #788EB5; 
    padding: 10px; 
    color: #fff;
    text-align : center;
}

.MessageInfoBlock {
    border: 1px solid #A83B2D;
    background: #4AD808;
    padding: 10px;
    color: black;
    text-align : center;
}


