.messages_main_table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
  table-layout: fixed;
}

.messages_main_table td {
  border: 1px solid #B2BDCA;
}

.messages_main_table > tbody > tr:hover {
  background-color: #ececec;
}

.messages_main_table th {
  padding: 10px 0;
}

.messages_table_header {
  border: none;
  background-color: #5d6577;
  color: #fff;
  font-size: 20px;
}
.messages_table_header:hover {
  background-color: #5d6577;
}

.messages_table_info {
  padding: 10px 5px;
}

.messages_table_info a {
  color: #353535;
  font-style: italic;
  font-size: 16px;
}

.partner_avatar {
  width: 50px;
  height: 50px;
  margin: 5px auto;
  background-size: cover;
  cursor: pointer;
}

.partner_name {
  word-wrap: break-word;
}

.message_table_last_message {
  text-align: left;
  position: relative;
  cursor: pointer;
  vertical-align: top;
}

.message_table_last_message_date {
  height: 20px;
  color: #8c8c8c;
  font-style: italic;
  font-size: 14px;
  margin: 10px 10px 0;
}

.message_table_last_message_text_block {
  padding: 10px;
  margin: 0px 10px 10px;
  height: 75px;
  position: relative;
  color: #6b87a9;
}

.message_table_last_message_text_with_photo {
  margin-left: 60px;
  height: 55px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.message_table_last_message_text {
  height: 55px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.my_avatar {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  background-size: cover;
  position: absolute;
  top: 10px;
  left: 10px;
}

/*# sourceMappingURL=messages.css.map */
