.new_topic_form {
  margin: 20px;
  width: 800px;
  min-height: 400px;
}

.new_topic_field {
  margin: 0 20px 10px 0;
  padding: 5px;
  width: 400px;
  border: 1px solid black;
}

.new_topic_textarea {
  padding: 5px;
  margin-bottom: 20px;
  border: 1px solid black;
  resize: none;
  width: 1000px;
}

/*# sourceMappingURL=new_topic.css.map */
