/*============================================Registration======================================*/
.field {
  margin: 10px 10px 10px 0;
  padding: 5px;
  width: 172px;
  box-shadow: 0 0 2px black;
}

.reg_form {
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.2);
  border: 1px solid #B2BDCA;
  width: 900px;
  text-align: center;
}

.reg_fields_block {
  display: inline-block;
  vertical-align: top;
  margin: 10px auto;
  text-align: left;
  position: relative;
  left: 25px;
}

.reg_check {
  text-align: center;
  padding: 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #B2BDCA;
}

.reg_buttons {
  margin-top: 20px;
  text-align: center;
}

/*# sourceMappingURL=registration.css.map */
