.topic_buttons_block {
  text-align: left;
  position: relative;
}

.topic_buttons {
  margin-right: 10px;
}

.form_with_head_buttons {
  display: inline-block;
  margin-top: 10px;
  margin-left: 20px;
}

.message_block {
  background-color: #e1e1e1;
  margin: 20px;
  min-width: 960px;
  max-width: 1240px;
  min-height: 300px;
  padding: 10px 0;
  border: 1px solid black;
  clear: left;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #B2BDCA;
}

.user_info_block {
  float: left;
  width: 200px;
  min-height: 150px;
  text-align: center;
}

.user_name {
  font-size: 16px;
  font-weight: bold;
  width: 175px;
  margin: 0 auto;
  word-wrap: break-word;
}

.user_name > a {
  color: #5d6577;
}
.user_name > a:hover {
  color: black;
}

.user_avatar {
  margin: 10px auto;
  width: 106px;
  height: 120px;
  border: 1px solid black;
}

.user_avatar_a {
  display: block;
  height: 100%;
}

.show_online_block {
  margin: 5px;
  color: #5d6577;
}

.user_info_block hr {
  height: 1px;
  background-color: #5d6577;
  width: 75%;
  margin: 0 auto;
}

.user_info {
  color: #5d6577;
  margin: 10px auto;
}

.message {
  display: block;
  margin-left: 210px;
  min-height: 150px;
}

.message_text_header {
  height: 20px;
}

.message_text_info {
  color: #8c8c8c;
  font-style: italic;
  font-size: 16px;
}

.message_count {
  float: right;
  margin-right: 10px;
}

.message_text_header_buttons_block {
  height: 30px;
  position: relative;
  bottom: 5px;
  float: right;
  width: 450px;
  text-align: right;
  margin-right: 40px;
  list-style: none;
}

.message_text_header_buttons {
  display: inline-block;
  width: auto;
  padding: 0 10px;
  vertical-align: top;
  height: 30px;
  line-height: 30px;
  margin-left: 15px;
}

.message_text {
  padding: 20px;
  word-wrap: break-word;
}

.message_text > pre {
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  word-wrap: break-word;
}

.nav_pages_block {
  height: 40px;
  text-align: right;
  margin-bottom: 10px;
  margin-top: -10px;
}

.nav_pages {
  display: inline-block;
  vertical-align: top;
  line-height: 40px;
  height: 40px;
  width: 200px;
  margin-right: 20px;
  text-align: right;
  list-style: none;
}

.nav_pages_top {
  display: inline-block;
  vertical-align: top;
  line-height: 40px;
  height: 40px;
  width: 200px;
  text-align: right;
  list-style: none;
  position: absolute;
  right: 20px;
  bottom: 0px;
}

.nav_pages_button {
  display: inline-block;
  line-height: 33px;
  width: 33px;
  height: 33px;
  margin-left: 5px;
}

.hr_under_messages {
  height: 2px;
  background-color: #353535;
}

.new_message_form_block {
  min-height: 500px;
}

.label_new_message {
  margin-left: 10px;
}

.new_message_textarea {
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  margin-bottom: 0px;
  border: 1px solid black;
  resize: none;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  width: 98%;
}

.new_message_buttons_block {
  height: 50px;
}

.new_message_submit_button {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}

/*# sourceMappingURL=showtopic.css.map */
