@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}

@font-face {
  font-family: UbuntuLight;
  src: url(fonts/ubuntu-light.ttf);
}
@font-face {
  font-family: marta;
  src: url(fonts/marta.otf);
}
@font-face {
  font-family: brody;
  src: url(fonts/brody.ttf);
}
@font-face {
  font-family: knight;
  src: url(fonts/9312.ttf);
}
a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  color: #353535;
}

.wrapper {
  width: 100%;
  min-width: 1000px;
  margin: 0 auto;
  background: url("images/fon_1.png"), url("images/fon_2.png"), url("images/fon_3.png");
}

.content {
  position: relative;
  min-height: calc(100vh - 140px);
  min-width: 1000px;
  max-width: 1280px;
  margin: 10px auto 20px auto;
  background-color: #F1F1F1;
  border: 1px solid #5d6577;
  box-shadow: 0 0 10px black;
  padding-bottom: 20px;
}

.button {
  width: 150px;
  height: 40px;
  color: white;
  background-color: #5d6577;
  line-height: 40px;
  text-align: center;
  transition-property: background-color;
  transition-duration: 0.5s;
  font-family: 'Roboto Condensed', sans-serif;
}
.button:hover {
  cursor: pointer;
  background-color: #747e93;
  transition-property: background-color;
  transition-duration: 0.5s;
}

#button_close {
  position: absolute;
  right: 3px;
  top: 3px;
  width: 20px;
  height: 20px;
  background-image: url("images/close.png");
}
#button_close:hover {
  cursor: pointer;
}

#button_close1 {
  position: absolute;
  right: 3px;
  top: 3px;
  width: 20px;
  height: 20px;
  background-image: url("images/close.png");
}
#button_close1:hover {
  cursor: pointer;
}

.content {
  padding-top: 0;
  padding-bottom: 0;
}

.lk_top {
  height: 80px;
  background-color: #5d6577;
  position: relative;
  text-align: right;
}

.lk_top > .navigation {
  top: 20px;
  border: 1px solid black;
}

.lk_top_name {
  color: #FFFFFF;
  line-height: 80px;
  margin-right: 10px;
  font-size: 40px;
  font-style: italic;
}

.lk_menu_block {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  background-color: #5d6577;
  box-shadow: 0px 0px 5px black;
  z-index: 100;
}

.lk_menu_list {
  list-style: none;
}

.lk_menu_list_button {
  height: 40px;
  color: white;
  line-height: 40px;
  text-align: center;
  transition-property: background-color;
  transition-duration: 0.5s;
  font-family: 'Roboto Condensed', sans-serif;
  position: relative;
}
.lk_menu_list_button:hover {
  cursor: pointer;
  background-color: #474d5a;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.lk_menu_new_messages {
  position: absolute;
  right: 25px;
  top: 7.5px;
  border-radius: 20px;
  width: 26px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  color: #fff;
  background-image: url(images/new_message.png);
  background-size: cover;
  font-weight: bold;
}

.lk_menu_button_selected {
  height: 40px;
  color: black;
  background: linear-gradient(0deg, #F7EDF0, white);
  line-height: 40px;
  text-align: center;
  transition-property: background-color;
  transition-duration: 0.5s;
  font-family: 'Roboto Condensed', sans-serif;
  position: relative;
}
.lk_menu_button_selected:hover {
  cursor: pointer;
}

.lk_main {
  min-height: 400px;
  margin-left: 300px;
  padding: 30px;
  text-align: center;
  position: relative;
  word-wrap: break-word;
}

.online_block {
  text-align: right;
  color: #6b87a9;
  font-size: 16px;
  position: relative;
  background: #dbe2e9;
  top: -30px;
  left: -30px;
  height: 40px;
  padding: 10px;
  padding-right: 20px;
  width: calc(100% + 60px);
}

.lk_left_side_block {
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.lk_photo {
  display: inline-block;
  vertical-align: top;
  width: 152px;
  height: 172px;
  border: 1px solid black;
}

.lk_change_photo_button {
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
  width: 185px;
}

.lk_info {
  display: inline-block;
  vertical-align: top;
  margin-left: 30px;
  padding: 20px;
  min-width: 420px;
  max-width: 500px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #B2BDCA;
  word-wrap: break-word;
  text-align: left;
}

.lk_admin_panel_text {
  text-decoration: underline;
  font-size: 20px;
  font-weight: bold;
  cursor: default;
  margin-bottom: 10px;
}

.lk_buttons_block {
  margin-bottom: 20px;
  width: 320px;
}

.lk_default_buttons_block {
  margin: 10px 0 0 0;
  padding: 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #B2BDCA;
}

.lk_admin_buttons_block {
  background-color: #F1F1F1;
  border: 3px double black;
  padding: 5px;
  padding-top: 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #B2BDCA;
}

.lk_buttons {
  display: block;
  width: 98%;
  margin: 5px auto;
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
  margin-top: 5px;
}

/*Style of header*/
header {
  width: 100%;
  height: 50px;
  background: linear-gradient(0deg, #353535, #4f4f4f);
}

.header_1 {
  min-width: 1000px;
  max-width: 1280px;
  height: 50px;
  margin: 0 auto;
}

nav {
  float: left;
  vertical-align: top;
  height: 50px;
}

.list {
  height: 50px;
  list-style: none;
}

.menu-button {
  display: inline-block;
  vertical-align: top;
  padding-right: 25px;
  height: 50px;
  text-align: center;
  color: #8fb488;
  margin-right: -4px;
  line-height: 50px;
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(0deg, #353535, #4f4f4f);
  transition-property: background-color;
  transition-duration: 0.3s;
  position: relative;
  padding-left: 25px;
  padding-right: 25px;
}
.menu-button:hover {
  background: linear-gradient(0deg, #8fb488, #acc8a7);
  color: #353535;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 0.3s;
}

.menu-button-new-messages {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -2px;
  border-radius: 25px;
  width: 26px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  color: #fff;
  background-image: url(images/new_message.png);
  background-size: cover;
  font-weight: bold;
  margin-left: 7px;
}

.first-button {
  display: inline-block;
  vertical-align: top;
  padding-right: 25px;
  height: 50px;
  text-align: center;
  color: #8fb488;
  margin-right: -4px;
  line-height: 50px;
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(0deg, #353535, #4f4f4f);
  transition-property: background-color;
  transition-duration: 0.3s;
  position: relative;
}
.first-button:hover {
  background: linear-gradient(0deg, #8fb488, #acc8a7);
  color: #353535;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 0.3s;
}
.first-button:hover .icon_back {
  background-image: url(images/ic_back_black.png);
}

.icon_back {
  float: left;
  width: 30px;
  height: 30px;
  background-image: url(images/ic_back_green.png);
  background-position: center center;
  background-size: cover;
  margin-top: 10px;
  margin-left: 4px;
  margin-right: 10px;
}

.logo {
  float: right;
  vertical-align: top;
  width: 280px;
  height: 50px;
}

.logo_img {
  float: right;
  width: 175px;
  height: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.logo_img::selection {
  background: transparent;
}

.home_button {
  display: inline-block;
  vertical-align: top;
  line-height: 50px;
  width: 88px;
  height: 50px;
  color: #8fb488;
  text-decoration: underline;
}

.icon_home {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
  background-image: url(images/ic_home_white.png);
  background-position: center center;
  background-size: cover;
  margin-top: 10px;
  margin-right: 5px;
}

.home_button > i {
  font-size: 14px;
}
.home_button > i::selection {
  background: transparent;
}

/*Style of message blocks*/
.MessageErrorBlock {
  border: 1px solid #A83B2D;
  background: #D44B38;
  padding: 10px;
  color: #fff;
  text-align: center;
}

.MessageHelpBlock {
  border: 1px solid #A83B2D;
  background: #788EB5;
  padding: 10px;
  color: #fff;
  text-align: center;
}

.MessageInfoBlock {
  border: 1px solid #A83B2D;
  background: #4AD808;
  padding: 10px;
  color: black;
  text-align: center;
}

.who_container {
  background: #8fb488;
  height: 60px;
  border-top: 2px solid #8fb488;
  border-bottom: 1px solid #5d6577;
}

.who {
  min-width: 1000px;
  max-width: 1280px;
  height: 58px;
  margin: 0 auto;
  padding-left: 10px;
  line-height: 58px;
  color: #353535;
}

.who > a > i {
  color: #fff;
  border-bottom: 1px dashed #fff;
}
.who > a > i:hover {
  color: #e6e6e6;
  border-bottom: 1px dashed #e6e6e6;
}

.auth_form {
  float: right;
  position: relative;
  width: 315px;
  height: 58px;
  text-align: center;
}

.auth_field_block {
  display: inline-block;
  vertical-align: top;
  line-height: 0px;
  width: 150px;
  height: 58px;
  text-align: center;
  margin-right: 3px;
}

.auth_field {
  width: 150px;
  padding: 5px;
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 3px;
  border: 1px solid #353535;
  height: 23px;
  background-color: #5d6577;
  color: white;
  /* Firefox 19+ */
  /* Firefox 18- */
}
.auth_field:focus {
  box-shadow: 0 0 3px 3px #D9D9D9;
}
.auth_field::-webkit-input-placeholder {
  color: #a0aebe;
}
.auth_field::-moz-placeholder {
  color: #a0aebe;
}
.auth_field:-moz-placeholder {
  color: #a0aebe;
}
.auth_field:-ms-input-placeholder {
  color: #a0aebe;
}
.auth_field::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.auth_field::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.auth_field:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.auth_field:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.auth_field:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.auth_field:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.auth_field:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.auth_field:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.auth_checkbox {
  display: inline-block;
  line-height: 20px;
  height: 20px;
  width: 150px;
  margin-top: 3px;
}

.auth_button {
  display: inline-block;
  line-height: 30px;
  width: 150px;
  height: 30px;
  border: 1px solid #a6a6a6;
  margin-top: 2px;
  color: #fff;
}

.auth_info {
  float: right;
  width: 400px;
  height: 58px;
  line-height: 58px;
  position: relative;
}

.auth_lk {
  display: inline-block;
  vertical-align: top;
  width: 150px;
  height: 30px;
  background: #353535;
  color: white;
  border: 1px solid #D9D9D9;
}
.auth_lk:hover {
  cursor: pointer;
}

.exit_button {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  background-color: #5d6577;
  position: absolute;
  right: 20px;
  top: 13px;
}
.exit_button:hover {
  background-color: #747e93;
}

/*Style of footer*/
.footer {
  width: 100%;
  height: 260px;
  background: linear-gradient(0deg, #353535, #424242);
  margin-top: 20px;
  color: #acacac;
  text-align: center;
}

.footer_content {
  position: relative;
  height: 260px;
  min-width: 1000px;
  max-width: 1280px;
  margin: 10px auto 0;
}

.footer_about {
  display: inline-block;
  vertical-align: top;
  width: 400px;
  height: 120px;
  padding: 10px;
  margin-top: 30px;
}

.footer_content h4 {
  color: #f8f7f7;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 15px;
}

.footer_content p {
  line-height: 1.4;
}

.footer-info {
  display: inline-block;
  vertical-align: top;
  width: 150px;
  height: 100px;
  padding: 10px;
  margin-top: 30px;
}

.footer_content ul {
  list-style: none;
}

.footer_content li {
  margin-bottom: 5px;
}
.footer_content li:hover {
  cursor: pointer;
  color: #e67e22;
}

.footer_content a {
  text-decoration: none;
  color: #acacac;
}

.footer_end {
  height: 20px;
  margin-top: 60px;
  text-align: center;
}

/*============================================Registration======================================*/
.field {
  margin: 10px 10px 10px 0;
  padding: 5px;
  width: 172px;
  box-shadow: 0 0 2px black;
}

.reg_form {
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.2);
  border: 1px solid #B2BDCA;
  width: 900px;
  text-align: center;
}

.reg_fields_block {
  display: inline-block;
  vertical-align: top;
  margin: 10px auto;
  text-align: left;
  position: relative;
  left: 25px;
}

.reg_check {
  text-align: center;
  padding: 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #B2BDCA;
}

.reg_buttons {
  margin-top: 20px;
  text-align: center;
}

.topic_buttons_block {
  text-align: left;
  position: relative;
}

.topic_buttons {
  margin-right: 10px;
}

.form_with_head_buttons {
  display: inline-block;
  margin-top: 10px;
  margin-left: 20px;
}

.message_block {
  background-color: #e1e1e1;
  margin: 20px;
  min-width: 960px;
  max-width: 1240px;
  min-height: 300px;
  padding: 10px 0;
  border: 1px solid black;
  clear: left;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #B2BDCA;
}

.user_info_block {
  float: left;
  width: 200px;
  min-height: 150px;
  text-align: center;
}

.user_name {
  font-size: 16px;
  font-weight: bold;
  width: 175px;
  margin: 0 auto;
  word-wrap: break-word;
}

.user_name > a {
  color: #5d6577;
}
.user_name > a:hover {
  color: black;
}

.user_avatar {
  margin: 10px auto;
  width: 106px;
  height: 120px;
  border: 1px solid black;
}

.user_avatar_a {
  display: block;
  height: 100%;
}

.show_online_block {
  margin: 5px;
  color: #5d6577;
}

.user_info_block hr {
  height: 1px;
  background-color: #5d6577;
  width: 75%;
  margin: 0 auto;
}

.user_info {
  color: #5d6577;
  margin: 10px auto;
}

.message {
  display: block;
  margin-left: 210px;
  min-height: 150px;
}

.message_text_header {
  height: 20px;
}

.message_text_info {
  color: #8c8c8c;
  font-style: italic;
  font-size: 16px;
}

.message_count {
  float: right;
  margin-right: 10px;
}

.message_text_header_buttons_block {
  height: 30px;
  position: relative;
  bottom: 5px;
  float: right;
  width: 450px;
  text-align: right;
  margin-right: 40px;
  list-style: none;
}

.message_text_header_buttons {
  display: inline-block;
  width: auto;
  padding: 0 10px;
  vertical-align: top;
  height: 30px;
  line-height: 30px;
  margin-left: 15px;
}

.message_text {
  padding: 20px;
  word-wrap: break-word;
}

.message_text > pre {
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  word-wrap: break-word;
}

.nav_pages_block {
  height: 40px;
  text-align: right;
  margin-bottom: 10px;
  margin-top: -10px;
}

.nav_pages {
  display: inline-block;
  vertical-align: top;
  line-height: 40px;
  height: 40px;
  width: 200px;
  margin-right: 20px;
  text-align: right;
  list-style: none;
}

.nav_pages_top {
  display: inline-block;
  vertical-align: top;
  line-height: 40px;
  height: 40px;
  width: 200px;
  text-align: right;
  list-style: none;
  position: absolute;
  right: 20px;
  bottom: 0px;
}

.nav_pages_button {
  display: inline-block;
  line-height: 33px;
  width: 33px;
  height: 33px;
  margin-left: 5px;
}

.hr_under_messages {
  height: 2px;
  background-color: #353535;
}

.new_message_form_block {
  min-height: 500px;
}

.label_new_message {
  margin-left: 10px;
}

.new_message_textarea {
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  margin-bottom: 0px;
  border: 1px solid black;
  resize: none;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  width: 98%;
}

.new_message_buttons_block {
  height: 50px;
}

.new_message_submit_button {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}

.new_topic_form {
  margin: 20px;
  width: 800px;
  min-height: 400px;
}

.new_topic_field {
  margin: 0 20px 10px 0;
  padding: 5px;
  width: 400px;
  border: 1px solid black;
}

.new_topic_textarea {
  padding: 5px;
  margin-bottom: 20px;
  border: 1px solid black;
  resize: none;
  width: 1000px;
}

.infoblock {
  min-width: 400px;
  min-height: 100px;
  margin: 20px 20px;
  background: linear-gradient(0deg, #DA2C38, #e25761);
  color: #353535;
  text-align: center;
  padding: 50px 20px;
  border: 4px double #353535;
}
.infoblock::selection {
  background: transparent;
}
.infoblock:hover {
  cursor: default;
}

.infoblock_lk, .infoblock_showtopic {
  width: 400px;
  margin: 150px auto 0;
}

.infoblock_lk_page {
  width: 400px;
  margin: 150px 48% 0;
}

.infoblock_lk_edit {
  margin-left: 48%;
}

.lk_edit_form {
  padding: 20px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #B2BDCA;
  text-align: left;
}

.lk_edit_form > h3 {
  text-align: center;
}

.lk_edit_form_field {
  margin-top: 10px;
  padding: 5px;
  width: 500px;
  box-shadow: 0 0 2px black;
}

.lk_edit_delete_page_block {
  padding: 20px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #B2BDCA;
}

.lk_edit_delete_page_block a {
  color: #2B587A;
}
.lk_edit_delete_page_block a:hover {
  text-decoration: underline;
}

.users_list_table {
  width: 100%;
  border-collapse: collapse;
}

.users_list_table td {
  border: 1px solid #B2BDCA;
  text-align: center;
  padding: 5px;
}

.users_list_table th {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  border: 1px solid #B2BDCA;
  padding: 10px 0;
}

.users_list_form {
  position: relative;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #B2BDCA;
}

.users_list_form_part {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.users_list_form_field {
  margin: 10px 0;
  padding: 5px;
  width: 172px;
  box-shadow: 0 0 2px black;
}

.chief_page_menu {
  margin-left: 300px;
  height: 80px;
}

.chief_page_menu_button {
  display: inline-block;
  vertical-align: top;
  height: 80px;
  width: 50%;
  text-align: center;
  line-height: 80px;
  background: #dbe2e9;
  margin-right: -4px;
  transition-property: background-color;
  transition-duration: 0.5s;
  color: #6b87a9;
  border-right: 1px solid #F1F1F1;
  position: relative;
}
.chief_page_menu_button:hover {
  cursor: pointer;
  background: #e4eaef;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.chief_page_menu_button2:hover .chief_page_menu_hidden {
  display: block;
}

.chief_page_menu_hidden {
  height: 50px;
  width: 100%;
  text-align: center;
  line-height: 50px;
  background: #dbe2e9;
  transition-property: background-color;
  transition-duration: 0.5s;
  color: #6b87a9;
  border-right: 1px solid #F1F1F1;
  position: absolute;
  top: 80px;
  right: 0;
  z-index: 100;
  display: none;
}
.chief_page_menu_hidden:hover {
  cursor: pointer;
  background: #e4eaef;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.chief_page_menu_hidden2 {
  top: 130px;
}

#chief_page_info {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #B2BDCA;
  padding: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.journal_table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.journal_table td {
  border: 2px solid #B2BDCA;
  text-align: center;
}

.journal_table th {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  border: 1px solid #B2BDCA;
  padding: 10px 2px;
}

.chief_page_form {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #B2BDCA;
  text-align: left;
  width: 49%;
}

.chief_page_form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.chief_page_form_part {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.chief_page_form_button {
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  top: -11px;
  margin-right: 10px;
}

.chief_page_form_field {
  margin: 10px 0;
  padding: 5px;
  width: 100%;
  box-shadow: 0 0 2px black;
}

.delete_account_form {
  position: absolute;
  top: 50px;
  width: 94%;
  height: 100%;
  padding: 140px 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #B2BDCA;
}

.delete_account_button {
  display: inline-block;
  margin-right: 20px;
  vertical-align: bottom;
}

.delete_account_form a {
  font-size: 14px;
}

.messages_main_table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
  table-layout: fixed;
}

.messages_main_table td {
  border: 1px solid #B2BDCA;
}

.messages_main_table > tbody > tr:hover {
  background-color: #ececec;
}

.messages_main_table th {
  padding: 10px 0;
}

.messages_table_header {
  border: none;
  background-color: #5d6577;
  color: #fff;
  font-size: 20px;
}
.messages_table_header:hover {
  background-color: #5d6577;
}

.messages_table_info {
  padding: 10px 5px;
}

.messages_table_info a {
  color: #353535;
  font-style: italic;
  font-size: 16px;
}

.partner_avatar {
  width: 50px;
  height: 50px;
  margin: 5px auto;
  background-size: cover;
  cursor: pointer;
}

.partner_name {
  word-wrap: break-word;
}

.message_table_last_message {
  text-align: left;
  position: relative;
  cursor: pointer;
  vertical-align: top;
}

.message_table_last_message_date {
  height: 20px;
  color: #8c8c8c;
  font-style: italic;
  font-size: 14px;
  margin: 10px 10px 0;
}

.message_table_last_message_text_block {
  padding: 10px;
  margin: 0px 10px 10px;
  height: 75px;
  position: relative;
  color: #6b87a9;
}

.message_table_last_message_text_with_photo {
  margin-left: 60px;
  height: 55px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.message_table_last_message_text {
  height: 55px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.my_avatar {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  background-size: cover;
  position: absolute;
  top: 10px;
  left: 10px;
}

.dialog_area_block {
  height: 500px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #B2BDCA;
  overflow: auto;
}

.dialog_info_empty {
  position: relative;
  top: 250px;
}

.dialog_my_messages_block {
  text-align: right;
  margin: 20px;
  min-height: 50px;
  position: relative;
}

.dialog_partner_messages_block {
  text-align: left;
  margin: 20px;
  min-height: 50px;
  position: relative;
}

.dialog_my_messages_photo {
  width: 50px;
  height: 50px;
  background-size: cover;
  position: absolute;
  right: 0;
  top: 0;
}
.dialog_my_messages_photo:hover {
  cursor: pointer;
}

.dialog_partner_messages_photo {
  width: 50px;
  height: 50px;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
}
.dialog_partner_messages_photo:hover {
  cursor: pointer;
}

.dialog_my_messages_text {
  margin-right: 50px;
  padding: 5px 10px;
  display: inline-block;
  vertical-align: top;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #B2BDCA;
  border-radius: 5px 0 0 5px;
  background-color: #dbe2e9;
  word-wrap: break-word;
  max-width: 91%;
}

.dialog_partner_messages_text {
  margin-left: 50px;
  padding: 5px 10px;
  display: inline-block;
  vertical-align: top;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #B2BDCA;
  border-radius: 0px 5px 5px 0px;
  background-color: #dbe2e9;
  word-wrap: break-word;
  max-width: 91%;
}

.dialog_messages_date {
  color: #8c8c8c;
  font-style: italic;
  font-size: 16px;
}

#dialog_hr {
  height: 1px;
  background: black;
}

.dialog_new_message_block {
  height: 150px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #B2BDCA;
  position: relative;
}

.dialog_new_message_photo {
  width: 80px;
  height: 80px;
  background-size: cover;
  position: absolute;
  top: 10px;
  left: 30px;
}
.dialog_new_message_photo:hover {
  cursor: pointer;
}

.dialog_new_message_partner_photo {
  width: 80px;
  height: 80px;
  background-size: cover;
  position: absolute;
  top: 10px;
  right: 20px;
}
.dialog_new_message_partner_photo:hover {
  cursor: pointer;
}

.dialog_new_message {
  margin-left: 110px;
  text-align: left;
  padding: 10px;
  margin-right: 130px;
}

.dialog_new_message_textarea {
  resize: none;
  width: 100%;
  word-wrap: break-word;
  min-height: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #B2BDCA;
  padding: 5px;
}

.dialog_new_message_button {
  text-align: left;
}

#overlay {
  background-color: #000;
  /* ╨з╤С╤А╨╜╤Л╨╣ ╤Д╨╛╨╜ */
  height: 100%;
  /* ╨Т╤Л╤Б╨╛╤В╨░ ╨╝╨░╨║╤Б╨╕╨╝╨░╨╗╤М╨╜╨░ */
  left: 0;
  /* ╨Э╤Г╨╗╨╡╨▓╨╛╨╣ ╨╛╤В╤Б╤В╤Г╨┐ ╤Б╨╗╨╡╨▓╨░ */
  opacity: 0.50;
  /* ╨б╤В╨╡╨┐╨╡╨╜╤М ╨┐╤А╨╛╨╖╤А╨░╤З╨╜╨╛╤Б╤В╨╕ */
  position: fixed;
  /* ╨д╨╕╨║╤Б╨╕╤А╨╛╨▓╨░╨╜╨╜╨╛╨╡ ╨┐╨╛╨╗╨╛╨╢╨╡╨╜╨╕╨╡ */
  top: 0;
  /* ╨Э╤Г╨╗╨╡╨▓╨╛╨╣ ╨╛╤В╤Б╤В╤Г╨┐ ╤Б╨▓╨╡╤А╤Е╤Г */
  width: 100%;
  /* ╨и╨╕╤А╨╕╨╜╨░ ╨╝╨░╨║╤Б╨╕╨╝╨░╨╗╤М╨╜╨░ */
  z-index: 100;
  /* ╨Ч╨░╨▓╨╡╨┤╨╛╨╝╨╛ ╨▒╤Л╤В╤М ╨Э╨Р╨Ф ╨┤╤А╤Г╨│╨╕╨╝╨╕ ╤Н╨╗╨╡╨╝╨╡╨╜╤В╨░╨╝╨╕ */
  display: none;
}

#create_relation_block {
  position: fixed;
  top: calc(50% - 325px);
  left: calc(50% - 300px);
  width: 600px;
  height: 650px;
  background-color: #F7EDF0;
  z-index: 999;
  text-align: center;
  display: none;
}

.delete_relation_form {
  margin: 20px;
  max-height: 230px;
}

.create_relation_form {
  margin: 20px;
  max-height: 230px;
}

.create_relation_now {
  padding: 5px;
  border: 1px solid black;
  width: 560px;
  max-height: 45px;
}

.create_relation_select {
  padding: 5px;
  border: 1px solid black;
  width: 560px;
  height: 300px;
}

.edit_message_form {
  text-align: center;
  margin: 20px;
  width: calc(100% - 40px);
  height: 600px;
}

.edit_message_textarea {
  padding: 5px;
  border: 1px solid black;
  resize: none;
  width: 100%;
  height: 323px;
}

#add_subject_block {
  position: fixed;
  top: calc(50% - 300px);
  left: calc(50% - 300px);
  width: 600px;
  height: 600px;
  background-color: #F7EDF0;
  z-index: 999;
  text-align: center;
  display: none;
}

.add_subject_name_field {
  border: 1px solid black;
  width: 560px;
  padding: 5px;
}

.add_subject_form {
  margin: 20px;
  max-height: 230px;
}

.my_hr {
  margin: 0 auto;
  width: 90%;
  height: 1px;
  background-color: #B2BDCA;
}

.main_lk_hr {
  margin: 6px 0;
  width: 90%;
  height: 1px;
  background-color: #B2BDCA;
}

/*Style of forum*/
.navigation_block {
  height: 40px;
  position: relative;
  text-align: right;
  margin-top: 20px;
}
.navigation_block .nav_pages_block {
  margin-top: 0px;
}
.navigation_block .nav_pages_button {
  vertical-align: bottom;
}

.navigation {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  left: 20px;
  padding: 0 15px;
  height: 40px;
  background-color: #5d6577;
  color: white;
  text-align: center;
  line-height: 40px;
  width: auto;
  border-radius: 10px;
}

.nav_a {
  text-decoration: none;
  color: #fff;
}
.nav_a:hover {
  color: #fff;
  text-decoration: underline;
}

.forum {
  margin: 15px 0 20px 0;
  padding: 1px 20px;
}

.main-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
  table-layout: fixed;
}

.main-table td {
  padding: 10px 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #B2BDCA;
}

.main-table > tbody > tr:hover {
  background-color: #ececec;
}

.main-table th {
  padding: 10px 0;
}

.table_header {
  border: none;
  background-color: #5d6577;
  color: #fff;
  font-size: 20px;
}
.table_header:hover {
  background-color: #5d6577;
}

.table_content {
  word-wrap: break-word;
}

.table_content_span {
  color: #8c8c8c;
  font-style: italic;
  font-size: 16px;
}

.table_content_info > a {
  color: #353535;
  font-style: italic;
  font-size: 16px;
}

.topic_name {
  font-size: 20px;
  margin-bottom: 5px;
}

.table_info_span {
  font-style: italic;
  font-size: 16px;
}

.new_topic_button {
  margin-bottom: 20px;
  margin-left: 20px;
}

/*# sourceMappingURL=style_forum.css.map */
