@charset "UTF-8";
@font-face {
  font-family: UbuntuLight;
  src: url(fonts/ubuntu-light.ttf);
}
@font-face {
  font-family: brody;
  src: url(fonts/brody.ttf);
}
@font-face {
  font-family: knight;
  src: url(fonts/9312.ttf);
}
.button {
  width: 150px;
  height: 40px;
  color: white;
  background-color: #5d6577;
  line-height: 40px;
  text-align: center;
  transition-property: background-color;
  transition-duration: 0.5s;
  font-family: 'Roboto Condensed', sans-serif;
}
.button:hover {
  cursor: pointer;
  background-color: #747e93;
  transition-property: background-color;
  transition-duration: 0.5s;
}

#button_close {
  position: absolute;
  right: 3px;
  top: 3px;
  width: 20px;
  height: 20px;
  background-image: url("images/close.png");
}
#button_close:hover {
  cursor: pointer;
}

#button_close1 {
  position: absolute;
  right: 3px;
  top: 3px;
  width: 20px;
  height: 20px;
  background-image: url("images/close.png");
}
#button_close1:hover {
  cursor: pointer;
}

/*Style of message blocks*/
.MessageErrorBlock {
  border: 1px solid #A83B2D;
  background: #D44B38;
  padding: 10px;
  color: #fff;
  text-align: center;
}

.MessageHelpBlock {
  border: 1px solid #A83B2D;
  background: #788EB5;
  padding: 10px;
  color: #fff;
  text-align: center;
}

.MessageInfoBlock {
  border: 1px solid #A83B2D;
  background: #4AD808;
  padding: 10px;
  color: black;
  text-align: center;
}

#overlay {
  background-color: #000;
  /* ╨з╤С╤А╨╜╤Л╨╣ ╤Д╨╛╨╜ */
  height: 100%;
  /* ╨Т╤Л╤Б╨╛╤В╨░ ╨╝╨░╨║╤Б╨╕╨╝╨░╨╗╤М╨╜╨░ */
  left: 0;
  /* ╨Э╤Г╨╗╨╡╨▓╨╛╨╣ ╨╛╤В╤Б╤В╤Г╨┐ ╤Б╨╗╨╡╨▓╨░ */
  opacity: 0.50;
  /* ╨б╤В╨╡╨┐╨╡╨╜╤М ╨┐╤А╨╛╨╖╤А╨░╤З╨╜╨╛╤Б╤В╨╕ */
  position: fixed;
  /* ╨д╨╕╨║╤Б╨╕╤А╨╛╨▓╨░╨╜╨╜╨╛╨╡ ╨┐╨╛╨╗╨╛╨╢╨╡╨╜╨╕╨╡ */
  top: 0;
  /* ╨Э╤Г╨╗╨╡╨▓╨╛╨╣ ╨╛╤В╤Б╤В╤Г╨┐ ╤Б╨▓╨╡╤А╤Е╤Г */
  width: 100%;
  /* ╨и╨╕╤А╨╕╨╜╨░ ╨╝╨░╨║╤Б╨╕╨╝╨░╨╗╤М╨╜╨░ */
  z-index: 100;
  /* ╨Ч╨░╨▓╨╡╨┤╨╛╨╝╨╛ ╨▒╤Л╤В╤М ╨Э╨Р╨Ф ╨┤╤А╤Г╨│╨╕╨╝╨╕ ╤Н╨╗╨╡╨╝╨╡╨╜╤В╨░╨╝╨╕ */
  display: none;
}

/*Style of footer*/
.footer {
  width: 100%;
  height: 260px;
  background: linear-gradient(0deg, #353535, #424242);
  margin-top: 20px;
  color: #acacac;
  text-align: center;
}

.footer_content {
  position: relative;
  height: 260px;
  min-width: 1000px;
  max-width: 1280px;
  margin: 10px auto 0;
}

.footer_about {
  display: inline-block;
  vertical-align: top;
  width: 400px;
  height: 120px;
  padding: 10px;
  margin-top: 30px;
}

.footer_content h4 {
  color: #f8f7f7;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 15px;
}

.footer_content p {
  line-height: 1.4;
}

.footer-info {
  display: inline-block;
  vertical-align: top;
  width: 150px;
  height: 100px;
  padding: 10px;
  margin-top: 30px;
}

.footer_content ul {
  list-style: none;
}

.footer_content li {
  margin-bottom: 5px;
}
.footer_content li:hover {
  cursor: pointer;
  color: #e67e22;
}

.footer_content a {
  text-decoration: none;
  color: #acacac;
}

.footer_end {
  height: 20px;
  margin-top: 60px;
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  min-width: 1000px;
  margin: 0 auto;
}

.info {
  position: absolute;
  right: 0;
  height: 20px;
  font-family: "Roboto Condensed";
  text-align: right;
}

.info_form {
  display: inline-block;
}

.info_form_button {
  background-color: transparent;
  -webkit-appearance: none;
  border: none;
  text-decoration: underline;
  font-family: "Roboto Condensed";
  font-size: 16px;
}
.info_form_button:hover {
  cursor: pointer;
  text-decoration: dotted;
}

.logo {
  font-family: marta;
  margin: 0 auto;
  padding-top: 10px;
  width: 800px;
  text-align: center;
  font-size: 50px;
}

.logo-text {
  font-family: marta;
  font-size: 8px;
  line-height: 40px;
  letter-spacing: 2.3px;
  text-transform: uppercase;
  font-size: 35px;
}

.menu {
  width: 100%;
  background: white;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  margin-top: 20px;
  font-family: brody;
}

.list {
  width: 1000px;
  height: 50px;
  margin: auto;
  list-style: none;
  text-align: center;
}

.menu-button {
  display: inline-block;
  width: 200px;
  height: 50px;
  text-align: center;
  padding: 7px 7px;
  margin: 0;
  font-size: 24px;
  letter-spacing: 1px;
  margin-right: -5px;
  color: black;
}

.menu-button a {
  text-decoration: none;
  color: black;
}

.menu-button:hover {
  background: #353535;
  color: #FFFFFF;
  cursor: pointer;
}

.content {
  width: 100%;
  font-family: "Times New Roman";
  position: relative;
  min-height: calc(100vh - 140px);
  min-width: 1000px;
  max-width: 1280px;
  margin: 10px auto 20px auto;
}

#new_news_block {
  position: fixed;
  top: calc(50% - 300px);
  left: calc(50% - 300px);
  width: 600px;
  height: 600px;
  background-color: #F7EDF0;
  z-index: 999;
  display: none;
}

.news_delete {
  position: absolute;
  right: 3px;
  top: 3px;
  width: 25px;
  height: 25px;
  background-image: url("images/close.png");
  background-size: cover;
}
.news_delete:hover {
  cursor: pointer;
  border: 1px solid black;
}

.new_news_form {
  margin: 20px;
  height: 460px;
}

.new_news_name {
  width: 560px;
  padding: 5px;
}

.new_news_textarea {
  padding: 5px;
  border: 1px solid black;
  resize: none;
  width: 560px;
  height: 323px;
}

.news_buttons_block {
  margin-top: 15px;
  min-height: 33px;
  position: relative;
}

.form_with_head_buttons {
  display: inline-block;
  margin-top: 10px;
  margin-left: 20px;
}

.nav_pages_block {
  height: 40px;
  text-align: right;
  margin-bottom: 10px;
  margin-top: -10px;
}

.nav_pages {
  display: inline-block;
  vertical-align: top;
  line-height: 40px;
  height: 40px;
  width: 200px;
  margin-right: 20px;
  text-align: right;
  list-style: none;
}

.nav_pages_top {
  display: inline-block;
  vertical-align: top;
  line-height: 40px;
  height: 40px;
  width: 200px;
  text-align: right;
  list-style: none;
  position: absolute;
  right: 20px;
  bottom: 0px;
}

.nav_pages_button {
  display: inline-block;
  line-height: 33px;
  width: 33px;
  height: 33px;
  margin-left: 5px;
}

.news-block {
  margin: 20px;
  background: #F7EDF0;
  padding: 20px 20px;
  border-radius: 5px;
  min-height: 190px;
  border: 3px double #D9D9D9;
  position: relative;
}

.last_news-block {
  min-height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  background-color: #5d6577;
  transition-property: background-color;
  transition-duration: 0.3s;
  color: #FFFFFF;
  font-family: "Roboto Condensed";
}
.last_news-block:hover {
  background-color: #747e93;
  transition-property: background-color;
  transition-duration: 0.3s;
}

.last_news_block_a {
  text-decoration: none;
  color: black;
}

.news-photo {
  background: #284B63;
  float: left;
  width: 230px;
  height: 150px;
  line-height: 150px;
  color: white;
  font-size: 22px;
  text-align: center;
}

.news-text {
  margin-left: 250px;
  padding: 20px;
  word-wrap: break-word;
}

.news-info {
  margin-bottom: 20px;
  margin-top: -20px;
  word-wrap: break-word;
}

.news-a {
  clear: both;
  text-align: right;
}

.news-button {
  display: inline-block;
  width: 190px;
}

.news_info_name {
  color: black;
  font-size: 22px;
  text-decoration: underline;
}

.news-date {
  color: #8c8c8c;
  font-style: italic;
}

/*# sourceMappingURL=style.css.map */
