@import "var";
@import "reset";
@import "fonts";
@import "base";
@import "buttons";
@import "lk";
@import "header";
@import "message_blocks";
@import "auth_block";
@import "footer";
@import "registration";
@import "showtopic";
@import "new_topic";
@import "infoblock";
@import "lk_edit";
@import "users_list";
@import "chief_page";
@import "delete_account";
@import "messages";
@import "dialog";
@import "overlay";
@import "create_relation";
@import "edit_message";
@import "add_subject";
@import "hr";

/*Style of forum*/
.navigation_block{
    height: 40px;
    position: relative;
    text-align: right;
    margin-top: 20px;
    
    .nav_pages_block{
        margin-top: 0px;     
    }
    
    .nav_pages_button{
        vertical-align: bottom;
        
    }
    
}
.navigation{
    display: inline-block;
    vertical-align: top;
    position: absolute;
    left: 20px;
    padding: 0 15px;
    height: 40px;
    background-color: #5d6577;
    color: white;
    text-align: center;
    line-height: 40px;
    width: auto; 
    border-radius: 10px;
}

.nav_a{
    text-decoration: none;
    color: #fff;
    
    
    &:hover{
        color: #fff;
        text-decoration: underline;
    }
    
}


.forum{
    margin: 15px 0 20px 0;
    padding: 1px 20px;

}

.main-table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    table-layout: fixed;
}

.main-table td{
    padding: 10px 5px;  
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    border: 1px solid #B2BDCA;
}

.main-table>tbody>tr{
    &:hover{
        background-color: darken(#F1F1F1, 2); 
    } 
}

.main-table th{
    padding: 10px 0;
    
}

.table_header{
    border: none;
    background-color: #5d6577;
    color: #fff;
    font-size: 20px;
    
    &:hover{
        background-color: #5d6577;     
    }
    
}

.table_content{  
    word-wrap: break-word; 
}

.table_content_span{
    color: #8c8c8c;
    font-style: italic;
    font-size: 16px; 
}

.table_content_info>a{
    color: #353535;
    font-style: italic;
    font-size: 16px; 
}

.topic_name{
    font-size: 20px;
    margin-bottom: 5px;
}

.table_info{

}

.table_info_span{
    font-style: italic;
    font-size: 16px; 
}

.table_last_message{

}

.new_topic_button{
    margin-bottom: 20px;
    margin-left: 20px;
}








