.users_list_table {
  width: 100%;
  border-collapse: collapse;
}

.users_list_table td {
  border: 1px solid #B2BDCA;
  text-align: center;
  padding: 5px;
}

.users_list_table th {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  border: 1px solid #B2BDCA;
  padding: 10px 0;
}

.users_list_form {
  position: relative;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #B2BDCA;
}

.users_list_form_part {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.users_list_form_field {
  margin: 10px 0;
  padding: 5px;
  width: 172px;
  box-shadow: 0 0 2px black;
}

/*# sourceMappingURL=users_list.css.map */
